.form {
  display: flex;
  flex-direction: column;
}

.form_label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-family: var(--font-caption)
}

.form_inputWrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
}

.form_inputIcon {
  position: absolute;
  right: 1rem;
  color: var(--smoke);
}

.form_input {
  width: 100%;
  padding: 0.5rem 2rem 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
}

.form_input::placeholder {
  font-style: italic;
}

@media screen and (min-width: 768px) {
  .form_inputWrapper {
    width: 295px;
  }
}