.tableRow_avatar {
  width: 3rem;
  height: auto;
  border-radius: 0.25rem;
}

.tableRow_name {
  font-weight: bold;
}

.tableRow_columnDisplay {
  display: none;
  font-size: 0.875rem;
}

.tableRow_card {
  background-color: var(--white);
  box-shadow: 0px 0px 5px var(--shadow);
}

.tableRow_card:hover {
  cursor: pointer;
}

.tableRow_card td {
  padding: 1.25rem 1.5rem;
}

.tableRow_card td:last-child {
  border-radius: 0px 0.25rem 0.25rem 0px;
}

.tableRow_card td:first-child {
  border-radius: 0.25rem 0px 0px 0.25rem;
}

.tableRow_card td:nth-child(2) {
  border-radius: 0px 0.25rem 0.25rem 0px;
}

@media screen and (min-width: 768px) {
  .tableRow_card td:first-child {
    border-radius: 0.25rem 0px 0px 0.25rem;
  }

  .tableRow_card td:nth-child(2) {
    border-radius: 0px;
  }

  .tableRow_columnDisplay {
    display: table-cell;
  }
}