.content {
  background-color: var(--dark-snow);
  flex: 1;
}

.charactersWrapper {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.paginationWrapper {
  background-color: var(--white);
  padding: 1.625rem 0 2rem 0;
}

.paginationWrapperHidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .charactersWrapper {
    align-items: start;
    padding: 2.5rem 8vw;
  }
}