.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  background-color: var(--dark-snow);
  padding: 1.5rem;
  flex: 1;
}

.content_title {
  font-size: 1.5rem;
  text-align: center;
}